In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\supri\\Downloads\\train.csv")
df.head()

,trip_duration,distance_traveled,num_of_passengers,fare,tip,miscellaneous_fees,total_fare,surge_applied
0,748.0,2.75,1.0,75.00,24,6.300,105.300,0
1,1187.0,3.43,1.0,105.00,24,13.200,142.200,0
2,730.0,3.12,1.0,71.25,0,26.625,97.875,1
3,671.0,5.63,3.0,90.00,0,9.750,99.750,0
4,329.0,2.09,1.0,45.00,12,13.200,70.200,0

In [2]:
 df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209673 entries, 0 to 209672
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   trip_duration       209673 non-null  float64
 1   distance_traveled   209673 non-null  float64
 2   num_of_passengers   209673 non-null  float64
 3   fare                209673 non-null  float64
 4   tip                 209673 non-null  int64
 5   miscellaneous_fees  209673 non-null  float64
 6   total_fare          209673 non-null  float64
 7   surge_applied       209673 non-null  int64
dtypes: float64(6), int64(2)
memory usage: 12.8 MB

,trip_duration,distance_traveled,num_of_passengers,fare,tip,miscellaneous_fees,total_fare,surge_applied
count,209673.000000,209673.000000,209673.000000,209673.000000,209673.000000,209673.000000,209673.000000,209673.000000
mean,1173.181478,5.054431,1.292808,99.623431,13.030824,15.136829,127.791084,0.280523
std,4775.653621,125.217419,0.930754,85.602702,20.367764,12.553436,98.797374,0.449256
min,0.000000,0.020000,0.000000,0.000000,0.000000,-0.500000,0.000000,0.000000
25%,446.000000,1.950000,1.000000,52.500000,0.000000,6.000000,70.200000,0.000000
50%,707.000000,3.200000,1.000000,75.000000,9.000000,9.750000,101.700000,0.000000
75%,1098.000000,5.730000,1.000000,116.250000,20.000000,26.450000,152.250000,1.000000
max,86387.000000,57283.910000,9.000000,4466.250000,2500.000000,435.000000,4472.250000,1.000000

In [3]:
# Drop rows with missing values
df = df.dropna()

# Remove invalid fares
df = df[df["fare"] > 0]

In [4]:
X = df.drop("fare", axis=1)
y = df["fare"]
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [5]:
import tensorflow as tf
from tensorflow.keras import layers

model = tf.keras.Sequential([
    layers.Dense(128, activation="relu", input_shape=(X_train.shape[1],)),
    layers.Dense(64, activation="relu"),
    layers.Dense(1)
])

C:\Users\supri\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [6]:
model.compile(
    optimizer="adam",
    loss="mse",
    metrics=["mae"]
)

In [8]:
history = model.fit(
    X_train, y_train,
    epochs=20,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 1426.4347 - mae: 1.5250 - val_loss: 27.2403 - val_mae: 0.9101
Epoch 2/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 42.2491 - mae: 1.1318 - val_loss: 15.4910 - val_mae: 1.1659
Epoch 3/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 256.0898 - mae: 1.4058 - val_loss: 7.3940 - val_mae: 0.4162
Epoch 4/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 27.4464 - mae: 1.1589 - val_loss: 6.8192 - val_mae: 1.1396
Epoch 5/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 43.2270 - mae: 1.2387 - val_loss: 1.0987 - val_mae: 0.2616
Epoch 6/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 87.1357 - mae: 1.5402 - val_loss: 4.1509 - val_mae: 0.6000
Epoch 7/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 132.6978 - mae: 0.9668 - val_loss: 2.5256 - val_mae: 0.2273
Epoch 8/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 52.2110 - mae: 1.2765 - val_loss: 7.5329 - val_mae: 0.4898
Epoch 9/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 99.7223 - mae: 1.2058 - val_loss: 5.1399 - val_mae: 1.4026
Epoch 10/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 30.6348 - mae: 1.0639 - val_loss: 5.6700 - val_mae: 0.4714
Epoch 11/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 44.1571 - mae: 1.0422 - val_loss: 16.9113 - val_mae: 1.3595
Epoch 12/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 15.3626 - mae: 0.8507 - val_loss: 1.8451 - val_mae: 0.4490
Epoch 13/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 26.7696 - mae: 1.0038 - val_loss: 14.9499 - val_mae: 0.8450
Epoch 14/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 31.9284 - mae: 0.9988 - val_loss: 63.1555 - val_mae: 5.2036
Epoch 15/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 17.8120 - mae: 0.9142 - val_loss: 1.7532 - val_mae: 0.2630
Epoch 16/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 12.0788 - mae: 0.8642 - val_loss: 7.5419 - val_mae: 0.9855
Epoch 17/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 17.7145 - mae: 1.0264 - val_loss: 2.9231 - val_mae: 0.2869
Epoch 18/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 10.7023 - mae: 0.8318 - val_loss: 437.4796 - val_mae: 15.5553
Epoch 19/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 14.9544 - mae: 0.9374 - val_loss: 5.0495 - val_mae: 0.7544
Epoch 20/20
4191/4191 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 12.5039 - mae: 0.7858 - val_loss: 0.9760 - val_mae: 0.2506

In [10]:
model.evaluate(X_test, y_test)

model.save("taxi_model.keras")

1310/1310 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 1.4826 - mae: 0.2537